.blackjack {
    width: 100%;
    min-width: 400px;
    min-height: 600px;
    max-width: 1024px;
    margin: 5% auto 0 auto;
    border-radius: 6px;
    padding: 1em;
    position: relative;
    text-align: center;
}


@-webkit-keyframes FadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
.blackjack {
    animation: FadeIn 0.5s ease-in-out;
}

@media only screen and (min-height: 800px) {
    .blackjack {
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 500px) {
    .blackjack {
        height: 90vh;
        margin-top: 0;
    }
    .hide-mobile {
        display: none;
    }
}