.hand {
    border: 1px solid rgba(77, 77, 77, 0.48);
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: nowrap;
    margin: 5px 0;
}
.hand .card { 
    display: inline-block;
    width: 25%;
    min-width: 50px;
    max-width: 115px;
}