@-webkit-keyframes FadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes Pulse {
    0%   {  opacity: .8; transform: scale(1); }
    50%   {  opacity: 1; transform: scale(1.1); }
    100%   { opacity: .8;  transform: scale(1); }
}
  
.end-screen {
    font-size: 2rem;
    width: 100%;
    animation: FadeIn 1s;
}

.end-screen .message {
    margin-bottom: .5em;
    text-shadow: 4px 4px #525252
    
}

.end-screen .gamebutton {
    margin-top: .5em;
    font-size: 1.5rem;
    padding: 1rem;
}

.end-screen .won {
    color: #22b322;
    animation: Pulse 1s infinite;
    display: inline-block;
    transform: translateZ(0);
}

.end-screen .lost {
    color: #d90429;
    animation: FadeIn .5s 3;
    
}
